[2018-02-05 00:38] tanyagupta opened #1 "Build in service worker component"
Cache the first search results, skeleton, css and other elements

Added 2/18
store static map - see [Google Static Maps](https://developers.google.com/maps/documentation/static-maps/intro) and store the static map
Store css
Store html

By 3/4

[2018-02-05 00:40] tanyagupta opened #2 "Wikipedia component for Mappa (NOT for Mappa Wikipedia)"
Modify wikipedia component

[2018-02-06 22:32] sperrye opened #3 "Suggestion: Wiki"
Hello,
I'd like to suggest building out the repo's Wiki with information about the app's status as it grows and instructions for getting started. Thoughts?

[2018-02-07 06:46] khusbuchandra opened #4 "Webpack for managing and bundling code"
Should we be using webpack for bundling the scripts? Or any other suggestions.

[2018-02-07 06:53] khusbuchandra opened #5 "Use Http protocol instead of file protocol"
Currently file protocol is being used to serve the app. We should modify it to Http as it would be in real scenario. We can do so with the help of Webpack dev server or any other option, if suggested.

[2018-02-07 06:56] khusbuchandra commented on #3
Yes, definitely Wiki would be productive. It does gets easier to start for beginners like me with detailed instruction and would help hopeful contributors to get up to speed fast.

[2018-02-07 12:36] tanyagupta commented on #3
Agreed, just assigned this to you.

[2018-02-07 12:38] tanyagupta commented on #4
Thanks @khusbuchandra - can you assign this to yourself if you agree ? (and close)

[2018-02-07 12:39] tanyagupta commented on #1
Would anyone like to take this on? If so please unassign others and assign yourself

[2018-02-07 12:42] tanyagupta commented on #5
Agreed and commented on the webpack suggestion

[2018-02-07 12:42] #5 closed

[2018-02-08 01:02] digilou commented on #1
@tanyagupta I'll give it a go! If I don't get it in the next few days, I'll unassign myself and give someone else a shot.

[2018-02-08 15:55] digilou commented on #1
Waiting for packages in issue #4 before proceeding.

[2018-02-08 21:09] khusbuchandra commented on #4
I have added Webpack and added jquery & babel as dependency to be installed from node. Still need to figure out about knockout. This would be an ongoing process of updating the config and package.json as we progress further.

[2018-02-08 21:09] #4 closed

[2018-02-08 22:17] khusbuchandra opened #7 "Remove knockout lib from source folder and configure in Webpack"
Need to package knockout library instead of having the js file included in the source code. Leverage Webpack to do this.

[2018-02-08 22:23] khusbuchandra opened #8 "Clean up App.js and move viewmodel to separate files."
Currently everything is in app.js . Ideally we should have separate functionality from app.js
We can have a project structure defined and follow that set up. Feel free to assign yourself and suggest better ways to do it.

[2018-02-09 06:30] khusbuchandra commented on #7
Now knockout is added as the npm package.

[2018-02-09 06:30] #7 closed

[2018-02-10 12:19] tanyagupta opened #10 "Add icon for project home page"

[2018-02-10 13:17] tanyagupta opened #11 "Error in run"
@khusbuchandra getting an error in final stages of running the app. When you get the chance could you look at it please ?

![image](https://user-images.githubusercontent.com/8497274/36062439-d18d3ab6-0e3a-11e8-88d2-f15808cc2b80.png)

[2018-02-10 13:42] tanyagupta commented on #11
This may just be an issue from my side, in which case, we can close it out and I can investigate further

[2018-02-10 18:03] digilou commented on #11
@tanyagupta My build went well. I just pulled in the updates, add my Google key, and ran it. However, I have another issue I have to solve on my end, probably concerning my key because my map didn't load correctly.

[2018-02-10 20:53] sgluzins commented on #11
@digilou did you resolve your API key issue? I tried getting everything set up yesterday and I can't get past a google maps API error in the console "error: ApiNotActivatedMapError" I tried creating a new key also but no luck.

[2018-02-10 21:10] digilou commented on #11
Oh yes! @sgluzins I had the same issue. I had to enable the Google Maps JavaScript API. It took me way to long to figure it out!
https://console.developers.google.com/apis/library/maps-backend.googleapis.com/?filter=category:maps&id=fd73ab50-9916-4cde-a0f6-dc8be0a0d425&project=pro-platform-194817

[2018-02-10 21:19] sgluzins commented on #11
@digilou WOO! Thank you so much. That solved it for me :) I'll add that in the wiki for the set up instructions

[2018-02-10 21:27] digilou opened #12 "Set up dotenv in Webpack for Google API"
Set up a secret environment for keys to run in local env. There's a dotenv-webpack package available.

[2018-02-10 21:28] digilou commented on #12
I'm setting this up as I work on #1. I'll update the README when I'm done to help others set up their local env too.

[2018-02-10 21:28] digilou commented on #11
That's a GREAT idea @sgluzins! Thanks for doing that.

[2018-02-11 11:08] tanyagupta commented on #11
Thanks from me too!

On Sat, Feb 10, 2018 at 4:19 PM, sasha <notifications@github.com> wrote:

[2018-02-11 13:31] tanyagupta commented on #11
So you guys have it working  @digilou and @sgluzins ? Probably something from my side then. I'll try again

[2018-02-11 17:28] khusbuchandra commented on #11
Sorry, I missed the mails. Are we good now? or any issues with the setup? . @tanyagupta  this is what I did for installing jQuery `npm install --save jQuery` Its added as part of dependency and should get installed.

[2018-02-12 05:06] sgluzins commented on #11
@tanyagupta @khusbuchandra - I am good on my end. My issue was with the key and it is all resolved now!

[2018-02-12 18:14] khusbuchandra commented on #11
I am closing this issue as its working with key.

[2018-02-12 18:14] #11 closed

[2018-02-13 11:04] tanyagupta opened #13 "Update instructions for new location of key"
Currently the guide refers to "master". This needs to be removed

[2018-02-15 18:20] #12 closed

[2018-02-15 18:58] digilou commented on #13
I've updated the wiki to include the .env Google API key updates made in #12 and #14. Maybe we should update the README with a link: [Setup Instructions](https://github.com/gwg-women/gwg-women-techmakers/wiki/Set-Up-Instructions)?

[2018-02-15 19:18] khusbuchandra commented on #13
Yes, we should definetly update the README with recent changes related to API key.

[2018-02-18 15:33] tanyagupta opened #15 "Finalize wireframe"
Wireframe available here. Need someone to take over edit rights, accept any suggestions and finalize it

https://wireframepro.mockflow.com/view/gwgwomen#/page/8171874e854b45e18321556694c276ed

[2018-02-18 15:38] tanyagupta opened #16 "Edit current or set up new skeleton page and complete component 1 through 8"
The components are as follows. If you only want to do some of them, split it up and open a new issue for the elements you are not working on
- [x] 1 = header and favicon
- [x] 2 = search box
- [x] 3 = assuming a JSON object of name, rating image and text, design a sidebar
- [x] 4 = map - image file for now
- [x] 5 = Wiki information assuming basic information (JSON) of a place
- [x] 6 = sticky foo

[2018-02-18 15:39] tanyagupta opened #17 "Implement geolocation and weather API"
Use a weather API and use geolocation to return the weather and location. This will be used in the frontend header
by 2/27

[2018-02-18 15:41] tanyagupta opened #18 "Google Places Component"
Write a function that makes a call to Google places, given lat/long and returns a list of popular places
(dependency with issue #17 )
Display new map based on search term
Display pins based on search term

[2018-02-18 15:43] tanyagupta opened #19 "Display map and pins based on search term (Google places)"
Display new map based on search term
Display pins based on search term

[2018-02-18 15:44] tanyagupta opened #20 "Develop new icons for the Mappa project (different from GWG Women's logo)"
Icons(Finalize list) & Logo - 2/27/2018

[2018-02-18 15:52] tanyagupta opened #21 "Component Integration"

[2018-02-18 15:53] tanyagupta opened #22 "Review and Refactoring"

[2018-02-18 15:54] tanyagupta opened #23 "Enhancement and testing"

[2018-02-18 16:03] tanyagupta commented on #19
duplicate

[2018-02-18 16:03] #19 closed

[2018-02-18 16:06] tanyagupta commented on #10
duplicate

[2018-02-18 16:06] #10 closed

[2018-02-18 16:10] tanyagupta opened #24 "Review current project map, wireframe and schedule and make updates as needed"
Folks please review the timetable and deliverables and comment where needed.
Please also assign yourself open/help wanted tasks

[2018-02-18 16:13] digilou commented on #20
Ooo, this would be so much fun! I'm assigning myself to play with ideas this week, but I have NO problem sharing it with other ideas. Please assign yourself if you want to present your own ideas so we can have different options to choose from.

[2018-02-18 16:15] digilou commented on #16
This is another issue I definitely don't mind sharing. I love front-end challenges, but want to give others a chance to work on the fun stuff, too.

[2018-02-18 16:39] digilou commented on #16
Related to #1 and #8.

[2018-02-18 16:41] #13 closed

[2018-02-18 16:44] tanyagupta opened #26 "clean up branches"
Delete branches not being used. For instance we should probably delete development and stick  to dev. And also delete the branches associated with merged pull requests

[2018-02-18 16:47] digilou commented on #26
Good question! I just deleted "update-readme" and "issue-1-service-worker" branches to keep it clean. Was wondering about the "development" branch.

[2018-02-18 16:47] digilou commented on #26
I'm starting a Contribution Guidelines page in the wiki. Maybe that could be a step people take after their PR is merged?

[2018-02-18 16:49] digilou opened #27 "Add contribution page to wiki"
- point out "dev" branch and creating new branch from there
- related to #26, delete merged branches

[2018-02-18 17:02] tanyagupta commented on #26
@digilou I think we can delete "development" @khusbuchandra can you verify ?
An update on contributions guidelines would be great

[2018-02-18 18:31] rixamix commented on #24
OK so after looking this over I'm just wondering is it that the site will initially load with the geolocation then you search for things nearby? or only get information after it's typed into the seach box?

[2018-02-18 18:35] khusbuchandra commented on #24
Yes @rixamix , it would initially load user's location and nearby places in side bar and other details based on geolocation. These are also the details we intend to provide offline support for.

[2018-02-18 18:38] #27 closed

[2018-02-18 18:43] khusbuchandra commented on #26
Yes, we should have only the dev and master branch, all the changes needs to be pushed to dev and periodically we would be merging all the stable changes to master branch.

[2018-02-18 18:50] ssspear commented on #17
I'd be interested in working with someone on this. Would anyone want to partner up and work with a beginner?

[2018-02-18 18:52] khusbuchandra commented on #17
@ssspear  I can help out, you can DM me on slack.

[2018-02-18 21:46] tanyagupta commented on #15
Hi guys, please comment here on any changes you would like. For major changes, please send me your email address so I can provide access for editing

[2018-02-19 01:22] digilou commented on #16
Wonderful @rixamix! I haven't started yet, so feel free to choose whichever part you'd like to start. Probably the best way is to create a new issue specific to the thing(s) you want to tackle, and go for it! That way we can tackle each thing at a time and my branch won't mess with your branch. Plus, if others join in, they can tackle individual pieces, as well, building off of what you've built a

[2018-02-19 17:34] digilou commented on #26
"development" branch deleted.

[2018-02-19 17:34] #26 closed

[2018-02-20 01:48] digilou commented on #1
#29 closed this. We can revisit when other components have been created and refactoring happens. It will have to be tested often.

[2018-02-20 15:55] tanyagupta commented on #24
Closing out this issue, no comments so hopefully the plan looks good to everyone.

[2018-02-20 15:55] #24 closed

[2018-02-20 15:57] tanyagupta commented on #1
Thanks again @digilou. I will open a new issue to generate and then store a static map

[2018-02-20 15:59] tanyagupta opened #30 "Generate a static map"
Initial cache is done. This task is to generate a static map

[2018-02-20 16:06] tanyagupta opened #31 "Store a static map"
This task is to store a default static map

[2018-02-21 16:28] digilou commented on #20
@replimes Did you want to work on this, too?

[2018-02-21 22:20] replimes commented on #20
@digilou Yeah, I can sketch out a few ideas for you.

[2018-02-22 01:14] replimes commented on #20
A few ideas to consider @digilou
![img_3321](https://user-images.githubusercontent.com/36494738/36514705-9e7d7ebc-172a-11e8-9038-b7e5d356cee4.jpg)

[2018-02-22 01:19] digilou commented on #20
I love your cursive "Grow" @replimes! I was also thinking about a logo with the open/close tag theme. I'm also drawn to the ones with the woman's silhouette head and initials.

[2018-02-22 01:24] replimes commented on #2
Newbie here - I’m having trouble with the setup of Cloud9 - Do you create an instance or connect over SSH, and if it’s SSH then what’s the host and user?
<img width="981" alt="screen shot 2018-02-21 at 5 15 56 pm" src="https://user-images.githubusercontent.com/36494738/36514876-bab147b6-172b-11e8-9e36-696745070dd0.png">

[2018-02-22 01:31] digilou commented on #15
@gwg-women/all-gwg-women I think it looks like a good start. It shows our feature intentions, and there's always room for design tweaks as we go.

[2018-02-22 05:43] agonzalez0515 commented on #16
I can help with one or two of these components. Who's working on which? Are we all using Material Design? A framework?

[2018-02-22 05:49] agonzalez0515 commented on #8
I noticed we're using Knockout. I've never worked with it before but doing a quick read it says it uses MVVM structure. Will we be refactoring the project to follow this structure?

[2018-02-22 05:50] digilou commented on #16
@agonzalez0515 You can definitely help with this! I haven't picked anything yet, as I was juggling another issue. @rixamix have you started anything? Handlebars was installed for templating, but not other frameworks that I see.

[2018-02-22 05:53] digilou commented on #8
@agonzalez0515 I have never used Knockout either, and have done even less research. @khusbuchandra installed that, I believe. And @desdemonhu installed Handlebars which is a templating framework. This issue is definitely related to what we're trying to tackle in #16.

[2018-02-22 06:02] agonzalez0515 opened #32 "Sidebar Component"
I can work on the Google places sidebar component ( 3 and 8 in #16).

3 = assuming a JSON object of name, rating image and text, design a sidebar
8 = assuming an object similar to 3, display sidebar

[2018-02-22 06:04] agonzalez0515 commented on #16
Cool! I'll work on the sidebar component for 3 and 8. I opened a new issue for it.

[2018-02-22 07:29] replimes commented on #16
I’ll work on 6 - sticky footer.  I picked the color as #D8E83D.

[2018-02-22 07:46] replimes opened #33 "Sticky Footer"
I will do component number 6 from issue #16

[2018-02-22 13:57] tanyagupta commented on #15
Closed still but opening a new issue to refine this further

[2018-02-22 13:57] #15 closed

[2018-02-22 13:59] tanyagupta opened #34 "Further tweaks to wireframe"
More adjustments to the wireframe but no major changes

[2018-02-22 14:09] tanyagupta opened #35 "Update documentation"
1) Add install instructions
2) Take out Cloud9

[2018-02-22 14:31] digilou commented on #35
@tanyagupta is it not working for Cloud9 users?

[2018-02-22 14:37] digilou commented on #16
@replimes @agonzalez0515 @rixamix I'll take 1: header and favicon, to start.

[2018-02-22 14:38] tanyagupta commented on #35
It is working but it may be making it more complicated than it needs to be.
Either that or I need to improve the cloud9 instructions. One should not
have to go into the settings page that Kristine did. It should run right
off the bat

On Thu, Feb 22, 2018 at 9:31 AM, Amy Carney <notifications@github.com>
wrote:

[2018-02-22 16:26] rixamix commented on #16
I'm working on 2  the search box right now

[2018-02-22 16:57] rixamix commented on #16
well... i got a searchbox put together but looking at the code for the skeleton it looks like it's already in there.

[2018-02-22 17:06] agonzalez0515 commented on #35
Just a quick awesome github fyi, we can use check boxes to show progress of things that need to be done and what's done.

- [ ] a task list item
- [ ] list syntax required
- [ ] normal **formatting**, @mentions, #1234 refs
- [ ] incomplete
- [x] completed

https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments

[2018-02-22 17:08] agonzalez0515 commented on #8
I'm going to look into this so that we can refactor asap and avoid merge conflicts on app.js.

[2018-02-22 18:12] khusbuchandra commented on #8
@digilou & @agonzalez0515 :  @Tanya had created the initial source code which was based out of one of the Udacity class assignment which required knockout. I think everyone would be fine with switching to another if all agree to do so, I myself is not familiar with Knockout, although I am still learning Angular 4 and React so don't know if can suggest anything :)
Whether we go with knockout or not

[2018-02-22 18:16] agonzalez0515 commented on #8
oh cool! i'm also currently learning react, so I would vote for that. Should we bring this up on Slack or on the team forum?

[2018-02-22 18:23] khusbuchandra commented on #8
@agonzalez0515 , I think we can start the discussion on team forum, but would need to decide soon. As I see lot of work on various components have started.

[2018-02-22 18:33] desdemonhu commented on #8
Also learning React!

[2018-02-22 18:35] agonzalez0515 commented on #8
Started discussion here https://github.com/orgs/gwg-women/teams/all-gwg-women/discussions/4. Will post on Slack as well.

[2018-02-23 14:56] tanyagupta commented on #17
Hi guys, can  you tell me how you are returning the location ? Is it a lat/long combination ? I want to use a placeholder location for the Google Static Maps component. Thanks in advance!

[2018-02-23 16:39] sonalikatara commented on #30
I can help with this

[2018-02-23 16:41] sonalikatara commented on #18
Can this be assigned to me

[2018-02-23 16:42] tanyagupta commented on #18
Sonali - you can go ahead and assign this to yourself (top right)

[2018-02-23 16:43] tanyagupta commented on #18
Let me know if you have any trouble with that ?

[2018-02-23 16:51] sgluzins commented on #17
@tanyagupta yup! Its with the lat/long combo. I'll send you a message with more info!

[2018-02-23 16:52] sonalikatara commented on #18
Tanya - I don't have the rights to assign. I think only people with owner and collaborator privileges can do that.

[2018-02-23 17:46] tanyagupta commented on #18
Sorry about that, we should add you. I've assigned in the meanwhile

[2018-02-23 17:56] sonalikatara commented on #18
Thank you Tanya. Right now I am setting up the project on my machine. Although I have worked with Github for a while this is my first time collaborating so just made my ssh key and forked the project.

[2018-02-23 18:08] khusbuchandra commented on #18
@sonalikatara  I had assumed adding to team give the collaborator access as well, I have made the changes and you should have those privileges now.

[2018-02-23 19:29] tanyagupta commented on #31
Sure
1) The purpose would be to have the static map cached and displayed even if
the app is offline (based on first geolocation)
2) The plan would be to store it in Cache using Cache API since this API
actually returns an image that can be stored

that is if it all works out...

On Fri, Feb 23, 2018 at 2:04 PM, Andrea Roche <notifications@github.com>
wrote:

[2018-02-23 21:04] PepperAddict commented on #2
Hey, I was thinking of putting images for the tutorial. Should I upload the images in git?

[2018-02-24 01:13] amr08 commented on #31
@tanyagupta Thanks for the clarification - Sounds good I'll see what I can do! 🙂

[2018-02-24 15:40] tanyagupta commented on #2
@PepperAddict if you embed images in markdown when you are working on it locally that should work. You can save the image in an assets directory (do we have one?) or it can point to a url

[2018-02-24 17:45] amr08 commented on #1
I am seeing the files store after registration, but I'm getting undefined for fetch in the sw file and no content is getting delivered yet.   I'm currently trying to debug, but thought it would be good to open up for others to look at as well.  I'll untag myself from the static map for now because I'm thinking we should probably get some (any) offline functionality solved first.

[2018-02-24 17:54] amr08 commented on #31
@tanyagupta I got sidetracked by continuing to look into the service worker set up - I reopened issue #1   (but feel free to close again if registering was all that was needed).  My issue is that although cached, I am unable to fetch anything (getting undefined).  Not sure if something weird is going on in my end.  Just finished my own sw project so I'm trying to investigate this more.

[2018-02-24 19:27] amr08 opened #36 "Overall structure, tech, and server?"
@gwg-women/all-gwg-women  Hi all! So sorry for all the noise today!!!  I had a 2 hour window to sit down and look at the project.  Happy to be here.

**Concerns:**
I'm a bit confused by what we've got going on so far tbh. To be fair, i've never worked with knockout, so it could just be a learning curve there, although I build apps with node/express servers pretty regularly and have used handlebars

[2018-02-24 19:32] amr08 opened #37 "Overall structure, tech, and server?"
@gwg-women/all-gwg-women   Hi all! So sorry for all the noise today!!!  I had a 2 hour window to sit down and look at the project.  Happy to be here.

**Concerns:**
I'm a bit confused by what we've got going on so far tbh. To be fair, i've never worked with knockout, so it could just be a learning curve there, although I build apps with node/express servers pretty regularly and have used handlebar

[2018-02-24 19:32] #36 closed

[2018-02-24 20:36] khusbuchandra commented on #37
@amr08 , Thanks for raising all the right questions, it helps everyone to focus in right direction.
 Regarding the framework used and project structure, we have a discussion going on [here](https://github.com/orgs/gwg-women/teams/all-gwg-women/discussions/4) I believe we should finalize and close it by today so that we could progress further.
Yes we would be needing a server @tanyagupta any though

[2018-02-25 18:03] tanyagupta commented on #37
@khubu we pretty much have client side code and no server side code running
(eg Mongodb) so we could very easily host it on github.io (via github
project pages)
https://pages.github.com/

Do you or others see any specific reason we should not ?

On Sat, Feb 24, 2018 at 3:36 PM, Khusbu Chandra <notifications@github.com>
wrote:

[2018-02-25 18:18] khusbuchandra commented on #37
Yes @tanyagupta , that should be fine.

[2018-02-25 18:18] digilou commented on #37
Github makes sense to me @tanyagupta

[2018-02-25 18:19] digilou commented on #20
@replimes Do you need help making these digital?

[2018-02-26 23:38] sonalikatara commented on #37
agree on GitHub @tanyagupta

[2018-02-26 23:47] agonzalez0515 commented on #37
Here are the instructions to deploying CRA to gh pages - https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#github-pages

I used Now for my deployment on the test app i worked on over the weekend. It was super easy - https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#now

[2018-02-28 22:59] khusbuchandra commented on #16
@gwg-women/all-gwg-women , we have the inital react setup in done by  @agonzalez0515.  Now we can start on the other components and have the skeleton take shape.

[2018-02-28 23:03] khusbuchandra commented on #17
@sgluzins , Could you refactor the component as react components using geolocation and weather api? Let me know if you need any help.

[2018-03-01 00:06] sonalikatara commented on #16
The current dev branch gave me a compilation error on npm start
`
Failed to compile.

	./src/index.js
	Module not found: /Users/sonali/webProjects/gwd-women/gwd-women-techmakers/gwg-women-techmakers/src/App.js does not match the corresponding path on disk app.js.
`

It's a minor change that needs to be done and everything works smoothly.

[2018-03-01 00:10] sonalikatara commented on #16
@agonzalez0515 I saw you mentioned the service workers need to be put back in, I can take care of it.

[2018-03-01 00:44] #37 closed

[2018-03-01 05:00] replimes commented on #20
@digilou Yes please!

[2018-03-02 01:52] amr08 opened #45 "Permission to remove build folder in dev"
@khusbuchandra @tanyagupta This requires me to do it directly through git as it does not let us remove from our own branches for some reason.

[2018-03-02 01:57] khusbuchandra commented on #45
@amr08 , go ahead and delete it. While we are there, how about the dist folder as well?

[2018-03-02 02:03] amr08 commented on #45
Done! 🙂

[2018-03-02 02:03] #45 closed

[2018-03-02 03:40] sgluzins commented on #17
@khusbuchandra yup, I'll work on it ASAP and get a PR out there. I had to fly to NC for work and I am flying back to the west coast tmrw night so I haven't had a chance to refactor it but I pulled down all the new changes.

[2018-03-02 04:13] digilou commented on #20
@replimes Cool! I'll start working on it this weekend.

[2018-03-02 08:20] khusbuchandra commented on #8
As we have moved to React now, I am closing this issue.

[2018-03-02 08:20] #8 closed

[2018-03-02 08:26] khusbuchandra opened #47 "Search component with autocomplete feature"
Make the Search Box as a separate React component

- [ ] Autocomplete feature - should return predictions for user input

- [ ] Input query on submit should result in search result

At present search part of InitialMap.js, refactor it to be a separate component.

[2018-03-02 08:30] khusbuchandra commented on #34
Can we close this issue @tanyagupta ?

[2018-03-02 08:44] khusbuchandra commented on #33
@replimes , you can also checkout Google's Material UI for React . I even like there footer which just provides link to their GitHub's contributor list.

[2018-03-02 11:08] turisap commented on #47
Hi, @khusbuchandra, I'm currently looking for a first real contribution to an open-source project and would like to work on this issue. Can I do that?

[2018-03-02 11:55] tanyagupta commented on #34
Yes please

Sent from my iPhone

[2018-03-02 18:19] tanyagupta commented on #31
@khusbuchandra please advice if we are still doing this ? Too many changes to keep track lately but let's close if no longer needed

[2018-03-02 21:05] tanyagupta commented on #47
@turisap welcome and glad to hear you want to join an open source project. This is actually a class assignment for students - and I am not sure if you are with the GWG student team ? If so, please share your id on Slack. If not also let us know. We can make some suggestions about great open source project to join.

[2018-03-03 00:19] khusbuchandra commented on #31
My only worry is about Google map not allowed to be cache. I am yet to do a full research on what's the right way to workaround it, and whether static map solves that issue. Mostly whatever i read leads to something like [this](https://stackoverflow.com/questions/3889142/is-it-allowed-to-cache-static-google-maps). If static map serves our purpose, then we are still going with it.
Let me know if yo

[2018-03-03 08:56] turisap commented on #47
@tanyagupta,  unfortunately, I'm not a member of GWG student team, but would like to participate in a open-source project  and I will be happy to see your suggestions (it would be great if it will be something with React). Thanks)

[2018-03-03 12:36] tanyagupta commented on #31
Storing maps server-side is a no-no. But on the client side - it appears that is exactly what the API was built for. For our application we only aim to store the maps client side and with efficient caching only one map at a time. So I think it should be fine. However I was wondering with React, does it still make sense to use that ?

[2018-03-03 12:39] tanyagupta commented on #47
@turisap There are 3 react projects (here)[https://github.com/MunGell/awesome-for-beginners] under Javascript. However I am also asking my class colleagues to come up with suggestions and will come back with more.

[2018-03-03 18:38] khusbuchandra commented on #16
@rixamix , Issue #47 is for implementing the search box. We need to add autocomplete feature to it. If you are still interested in search box, I will assign it to you.

[2018-03-03 18:39] khusbuchandra commented on #34
Closing as no more changes are required.

[2018-03-03 18:39] #34 closed

[2018-03-03 18:47] agonzalez0515 commented on #16
@khusbuchandra I think the map search box component already comes with autocomplete. Or is this not what y'all mean by autocomplete?

![screen shot 2018-03-03 at 10 47 02 am](https://user-images.githubusercontent.com/21042658/36937992-3ba03930-1ed0-11e8-8e0b-3068f697ac79.png)

[2018-03-03 19:38] khusbuchandra commented on #16
@agonzalez0515 , Ahh.. somehow two days back I didn't see the autocomplete coming up, although I checked again now and it seems to work perfectly. My bad, I assumed autocomplete service needs to be added. I will close the issue now.
We can refactor intialMap, with search style in a separate file though. Should we also be displaying some more detail on click of marker?

[2018-03-03 20:10] tanyagupta commented on #47
@turisap please contact Bryan on Slack  https://join.slack.com/t/devpath/shared_invite/enQtMzE2NDEzODI1Njg3LWZlOWY3ZTY3ZGFiYmQ0NTY2MDJmYjUwY2EzZDJjZGI4NmYwOGU2OTFjMDY2ZjA3YTc1YmE0ZDU0MDk3Y2ZjNWY

he can include you on a React/other open source project

[2018-03-04 15:42] turisap commented on #47
@tanyagupta, thank you for your advice, I'll proceed with that)

[2018-03-04 17:05] tanyagupta opened #52 "Update the issues template to add "Do any new issues need to be created as a result of this PR""

[2018-03-04 18:08] tanyagupta opened #53 "Configure working code on static map generation and storage for React"
See Issue 31 for details and PR 51

[2018-03-05 05:09] digilou commented on #20
@PepperAddict I'm def open to your idea mentioned in Slack.

[2018-03-05 05:17] replimes commented on #33
@khusbuchandra Thank you, I’ll be sure to research that a bit and try to implement it.

[2018-03-05 16:24] PepperAddict commented on #20
![girlmap](https://user-images.githubusercontent.com/4171505/36986327-8d1b6468-2067-11e8-867a-58c97760f038.png)

Hey i put this one together.  If you want something changed let me know especially with the color. I don't know what our theme is going to be and I think it should really match it. If we decide something different later I can always change it then too. Let me know if you want the svg.

[2018-03-05 16:37] PepperAddict commented on #20
![girlmap](https://user-images.githubusercontent.com/4171505/36986997-561cc7b6-2069-11e8-888d-72301a338c78.png)

oops. sorry i had to reupload. The marker was too bold and then it was too thin. I think one's just right. Let me know what to change with color to fit the theme of the project.

[2018-03-05 18:31] PepperAddict opened #54 "create react app not registering env"
For those that has this issue.
So I fixed it on my end, but boy did I do a ton of fiddling around and researching.
Even when I had **REACT_APP_** in the beginning , my react app was still not reading that env file. I've tried all sorts of tricks while googling. But this worked...

When googling, I came across this:

[link](https://github.com/facebook/create-react-app/tree/master/packages/react-scr

[2018-03-05 19:37] tanyagupta commented on #54
Pepper thanks for the detailed explanation. It might be a good idea to post on #resources in Slack for anybody else working with React/Yarn

[2018-03-05 19:39] tanyagupta commented on #20
Hi Pepper - can you also post the original b/w one here? We could use that as our logo on github

[2018-03-05 19:56] PepperAddict commented on #20
![mapg1bw](https://user-images.githubusercontent.com/4171505/36996666-5e7b2e40-2085-11e8-96f7-369c7e9cbfa2.png)

Here you go. If you need an svg version that's scalable, let me know. It won't let me upload svg here.

[2018-03-05 20:19] tanyagupta commented on #20
Posted as our new profile pic on Github. Thanks! that looks great

On Mon, Mar 5, 2018 at 2:56 PM, Jen Reassey <notifications@github.com>
wrote:

[2018-03-05 21:41] sgluzins opened #55 "Header Component"
The header (component 1) from #16.

[2018-03-05 21:44] #17 closed

[2018-03-05 22:21] khusbuchandra commented on #54
Thanks a lot Pepper for finding the solution. I was one of them facing this issue and it works now.

[2018-03-05 23:37] khusbuchandra commented on #53
@tanyagupta , Would you like to work on it? I found a react component with static map [here](https://github.com/viatsko/react-google-static-map). You can try it, if that helps.

[2018-03-05 23:38] khusbuchandra commented on #47
Closing it as we are using Google searchbox feature.

[2018-03-05 23:38] #47 closed

[2018-03-07 06:49] #32 closed

[2018-03-07 06:54] khusbuchandra commented on #55
@sgluzins , there are new changes merged with google-maps-react package. Incorporate the new InitialMap component to set the map center based on geocode .

[2018-03-07 08:27] sgluzins commented on #55
thanks @khusbuchandra. I will pull in those changes and make the modifications.

[2018-03-07 11:38] tanyagupta commented on #53
@khusbuchandra not familiar with react. Perhaps @angelica since she is a react expert ?

[2018-03-07 16:28] khusbuchandra commented on #53
@tanya, yesterday me, sonali & Angelica discussed about the components and sonali would like to take this one.

[2018-03-07 16:32] khusbuchandra commented on #2
@PepperAddict, Are you working on Wikipedia component ? how are progressing on this issue? Let me know if you need help with React.

[2018-03-08 07:22] khusbuchandra commented on #55
Add another issue for centering the map based on user's geocode details.
Closing this one.

[2018-03-08 07:22] #55 closed

[2018-03-08 07:24] sgluzins opened #59 "update InitialMap to center based on geolocation"
Remove hardcoded location and integrate with the users geolocation.
Also, center the map according to the geolocation.

[2018-03-08 21:32] #52 closed

[2018-03-10 16:54] #31 closed

[2018-03-10 16:54] tanyagupta commented on #30
@sonalikatara thanks again, moving this to new issue and closing this one

[2018-03-10 16:54] #30 closed

[2018-03-10 17:03] tanyagupta commented on #2
@PepperAddict I think the labelling for this issue was not precise enough. We have a project wikipedia where we share information about our project and we have a wikipedia component for our project. I think you were referring to the former. Can you confirm so I can open a new issue and make this one unassigned, and also add more details to this issue so it is clearer for others ?

[2018-03-10 17:06] tanyagupta opened #62 "GWG women's project wiki (about the project) including contributor info, set up"
Add to the existing Mappa wiki and include contributor information, and clean up instructions

- [x] Design main wiki page
- [x] Recommend package that provides a nicer look and feel
- [x] Set up main wiki page
- [x]  Add Contributor section
- [x]  Remove working demo
- [x]  Clean up instructions
- [x]  Remove Cloud 9 instructions

[2018-03-10 17:08] tanyagupta commented on #35
Closing and moved to #62 with more details on waht will be done

[2018-03-10 17:08] #35 closed

[2018-03-10 17:12] PepperAddict commented on #2
Hey Tanya! I was confused and thanks for catching that.

[2018-03-10 17:27] tanyagupta commented on #2
Welcome! I just signed on for the wiki too, will add you, let's work
together on that

On Sat, Mar 10, 2018 at 12:12 PM, Jen Reassey <notifications@github.com>
wrote:

[2018-03-10 17:41] tanyagupta commented on #20
@PepperAddict can I say it again? this is beautiful!
Will add a new task on project icons and will tag you, please feel free to untag if you wish

[2018-03-10 17:44] tanyagupta commented on #20
Agreed @khusbuchandra
@replimes @PepperAddict @digilou - are you guys still working on the icons ?

[2018-03-10 17:45] tanyagupta opened #63 "GWG Women's Icon"
Develop an icon for GWG women

[2018-03-10 17:45] #63 closed

[2018-03-10 21:44] PepperAddict commented on #62
- [ ] Design main wiki page
- [ ] Recommend package that provides a nicer look and feel
- [ ] Set up main wiki page
- [ ]  Add Contributor section
- [x]  Clean up instructions
- [ ]  Add section on how to build up an open source project
- [ ]  Remove working demo
- [x]  Remove Cloud 9 instructions

[2018-03-11 18:18] PepperAddict opened #65 "organizing the CSS"
Going to put all of the CSS into one SASS/CSS file to organize it so we can easily modify it when we need to.

[2018-03-14 23:31] #59 closed

[2018-03-15 06:39] sperrye commented on #23
I'll write some tests

[2018-03-15 07:17] sperrye opened #68 "Could not resolve path name app.js (in index.js)"
`app.js` is not capitalized but it's imported as `App.js` in `index.js` which results in an error at npm start (dev build).

Lowercasing the filename in index.js corrected the error.

[2018-03-15 07:22] sperrye commented on #68
This error only occurs in the master branch

[2018-03-15 19:14] #54 closed

[2018-03-19 14:28] PepperAddict commented on #2
I will try my best to finish this by tonight or tomorrow at the very latest. *crosses fingers* Did some research yesterday and it's beginning to make more sense to me.  I'll come forward if I have any questions, but for right now ... I'm pretty sure I can do it. Thank you @tanyagupta and @khusbuchandra for your supports. I won't let you gals down.

[2018-03-19 14:45] tanyagupta commented on #2
Awesome!  Thanks Pepper

[2018-03-19 17:54] khusbuchandra opened #75 "Search box feature"
Search box basic features:

1. On user submit of the input value, map should center and display position based on the search term
2. Autocomplete feature to display prediction.

[2018-03-20 19:36] sonalikatara opened #77 "Show search Results on the Map with Markers"
Show Markers for each search result .

[2018-03-20 23:19] #77 closed

[2018-03-20 23:23] sonalikatara opened #79 "Add information window on the Markers"
Add an information window on the map marker on mouseover

[2018-03-21 07:47] #2 closed

[2018-03-21 13:52] PepperAddict commented on #33
HI, how is this one going? I'd like to be a part of this one.

[2018-03-21 14:20] tanyagupta commented on #33
Thanks @PepperAddict. @replimes can @PepperAddict help out ?
@khusbuchandra

[2018-03-21 15:35] digilou opened #81 "Test for Accessibility"
Perform checks for any accessibility issues.

[2018-03-22 00:26] agonzalez0515 commented on #68
hi @sperrye, this should be fixed in the Dev branch #48 . We're working off that branch for this project, not master.

[2018-03-22 02:14] replimes commented on #33
@PepperAddict Feel free to take over.  I haven’t worked with React before and haven’t gotten too far on this.  How does one go about importing a font?  @tanyagupta @khusbuchandra

Here is all I have so far:
`
import React from 'react';
import ReactDOM from 'react-dom';
import {lime500, darkBlack} from 'material-ui/styles/colors';
import MuiThemeProvider from 'material-ui/styles/MuiThemeProvider';

[2018-03-22 04:07] digilou commented on #81
@agonzalez0515 I'll run that one too! I always use WAVE and aXe.

[2018-03-22 13:32] PepperAddict commented on #33
@replimes
Do you want to upload what you put in just so you can get credit for your hard work?
If not, that's okay. I'm going to end up putting it into the css file instead though just to keep the styling organized into one place that way it'll be easier to debug a styling problem.

I will work on this this Saturday or Sunday.
From my understanding from the conversation, we're going to be using th

[2018-03-22 20:31] #79 closed

[2018-03-23 04:55] replimes commented on #33
@PepperAddict No thank you.  :-) Thanks for asking.  I don’t understand what you mean by using github’s API... I’m a complete newbie.

[2018-03-23 20:34] sonalikatara opened #84 "Undefined Error on Markers and PlaceListItems"
The app throws an undefined open_hours error in initialMaps.js

[2018-03-23 20:47] #84 closed

[2018-03-23 23:56] sonalikatara opened #86 "Add caching of styles and html"
Add caching of stlyes and html in service worker

[2018-03-24 00:37] #18 closed

[2018-03-24 02:26] sonalikatara opened #88 "blank page gets shown in offlinemode sometimes"

[2018-03-24 05:48] sgluzins opened #90 "clean up console logs"
our console has an extreme amount of logging - cleaning it up to only log a few key things

[2018-03-24 17:36] digilou commented on #75
@gwg-women/all-gwg-women I'd love a set of eyes on this. I'm working with https://github.com/kenny-hibino/react-places-autocomplete for autocomplete with React. Somehow I'm missing something very basic to get this to work, and I'm sure someone else can see it quicker than me during the last couple days...
<img width="932" alt="screen shot 2018-03-24 at 9 31 10 am" src="https://user-images.githubus

[2018-03-24 18:04] tanyagupta commented on #62
@PepperAddict starting back on this issue. Just to confirm, the ones still open are the ones without the checkmark, right ?

[2018-03-24 18:17] digilou opened #92 "Make app mobile responsive"
When working in DevTools I realized our components don't stack, shrink or adjust when accessed on mobile.
This is a great CSS challenge for someone looking to dig more into styling and media queries.

<img width="280" alt="screen shot 2018-03-24 at 10 14 26 am" src="https://user-images.githubusercontent.com/8865558/37867376-47e711aa-2f4c-11e8-8722-943dd165d2e9.png">

[2018-03-25 00:53] sonalikatara commented on #90
They are coming from the service worker, I will get rid of them.

[2018-03-25 03:45] #90 closed

[2018-03-25 03:46] sonalikatara commented on #88
Taken care of by caching the style.css file in service worker

[2018-03-25 03:46] #88 closed

[2018-03-25 03:47] #86 closed

[2018-03-25 03:48] sonalikatara commented on #68
Can we close this issue @agonzalez0515  @sperrye

[2018-03-25 03:50] sonalikatara commented on #22
Can we close this issue @tanyagupta @khusbuchandra ? We do need to clean up and get rid of some old code.

[2018-03-25 05:14] digilou opened #97 "Fallbacks for CSS grid"
I personally LOVE that we're using grid! But we should have some fallbacks because some older or non-mainstream browsers still don't support it.

[2018-03-25 05:16] digilou commented on #65
@PepperAddict @shaala I'll help pull out inline styles as I come across them while doing accessibility testing and combing code.

[2018-03-25 05:17] digilou commented on #92
I think I see part of the problem. We're off to a great start with grid, but we can leverage that with media queries.

[2018-03-25 05:24] digilou opened #98 "Static Map needs alt tag"
Related to #81

One issue that comes up in the Dev Tools audit is that there is a missing `alt` property for the static map. The `alt` property should always be present. And since this is not a decorative image, it needs to have meaningful text within the quotes.

[2018-03-25 11:44] tanyagupta commented on #22
Yes @sonalikatara we may need another refactoring round closer to the finish but closing this out for now

[2018-03-25 11:44] #22 closed

[2018-03-25 11:45] tanyagupta commented on #92
This is super important. We have a prospective new team mate - I will flag this to her in case she is interested

[2018-03-25 13:46] PepperAddict commented on #92
Hey if nobody steps forward to work on this, I'd like to tackle it after the sticky footer is done.

[2018-03-25 13:47] tanyagupta commented on #92
@PepperAddict I can help if you need anything.

[2018-03-25 13:47] PepperAddict commented on #97
I didn't think of that. Thanks for bringing light to this issue.  Hmm.. I may need to research how to do this.  I hope you don't mind I save this for last (unless someone else wants to do this)

[2018-03-25 19:39] digilou commented on #97
@PepperAddict I think that will be fine since it will take some work. I'm still a bit new to it, but I know that IE has the `-ms` prefix and some of its properties differ. Also, using `@supports (grid-area: auto)` to wrap the grid code, and leave the float or flexbox code fallback code outside of the supports block.

Rachel Andrews offers some fallbacks and alternative support: https://www.smashin

[2018-03-25 19:43] PepperAddict commented on #33
I could not find a gathered info of all our members, but I did find contributors
https://api.github.com/repos/gwg-women/gwg-women-techmakers/contributors

Should I just use that or would you like all the members ? I do not mind adding them in manually. Just let me know what you all think.

[2018-03-25 20:00] tanyagupta commented on #33
I think this should be fine, we can always add others in later @sonalikatara  @PepperAddict @khusbuchandra if you agree

[2018-03-25 20:03] PepperAddict commented on #33
sounds good @tanyagupta . Less work for me right now, but if there's a name that should be added, let me know. I noticed that Renata isn't in there for some reason, so I'll put her in there.

[2018-03-25 21:25] PepperAddict commented on #62
yeah it was. I downloaded it and put it in. Should I upload it that way we'll use our own?

[2018-03-25 21:27] PepperAddict commented on #62
btw tanya if you figured out how to make it show,  could I see your code? :D

[2018-03-25 22:14] tanyagupta commented on #62
@PepperAddict texted you on Slack about what you wanted to show? And yes, could you please upload it? I'll use it for the wiki

[2018-03-25 23:36] tanyagupta commented on #33
@PepperAddict are you using this ? https://blog.github.com/2013-05-16-personal-api-tokens/

[2018-03-26 03:35] digilou opened #101 "Round up temperature?"
Should we round off the current temperature?
<img width="463" alt="screen shot 2018-03-25 at 7 32 05 pm" src="https://user-images.githubusercontent.com/8865558/37885773-9e0b4354-3063-11e8-9407-c4ffbe861915.png">

[2018-03-26 03:51] sgluzins opened #102 "refactor geolocation to use built-in service"
Google Maps API has the geolocation service built in so we can utilize the service instead of making a separate http request.

The geolocation code needs to be refactored to use the built-in rather than making a direct API call.

[2018-03-26 15:05] PepperAddict commented on #65
I've searched far and wide. I think I've gathered them all. This can be closed now.

[2018-03-26 15:05] #65 closed

[2018-03-26 18:31] digilou commented on #75
Unassigning myself to see if anyone else can give this a shot...
Maybe I'm taking the wrong approach.

[2018-03-26 19:51] tanyagupta commented on #75
Thanks Amy @agonzalez0515 @sonalikatara @khusbuchandra please chime in on next steps. I am happy to help with this if I can do so not knowing React - I can also share the Google Maps autocomplete code from earlier if that helps. Or you can review Amy's search-autocomplete branch

[2018-03-27 05:38] sonalikatara opened #107 "Add photo to InfoWindow"
The infoWindow currently displays a placeholder, it should display photo of the place if available

[2018-03-27 05:43] sonalikatara opened #109 "Add photo to place details"
The place details in search results should show photos if available or show the place icon

[2018-03-28 01:33] digilou commented on #98
@gwg-women/all-gwg-women I can't seem to find the `img` that needs the `alt`. I'm left wondering if this is something that Google maps generates on their end? Who worked on the static maps portion?

[2018-03-28 01:37] digilou commented on #81
Pushed updates to dev branch, but leaving this open for continued review up until the end. I'll stay vigilant in reviewing code to make sure my own updates aren't changed or new additions are WCAG 2.0 compliant.
Ideally, I'd like to add [Deque's react-axe testing module](https://github.com/dequelabs/react-axe), but I haven't been successful in getting it to work yet.

[2018-03-28 01:38] #92 closed

[2018-03-28 01:40] digilou commented on #97
@PepperAddict I finished most of my accessibility review, so if you don't have time to research this, I can jump on it.

[2018-03-28 02:45] #109 closed

[2018-03-28 02:45] #107 closed

[2018-03-28 02:47] sonalikatara commented on #98
@digilou I don't see that error, do you have the latest dev branch. How can I recreate this error ? Can you give more deatils, maybe the file and line number ?

[2018-03-28 02:49] agonzalez0515 commented on #98
Static map still needs a lot of work and it’s not ready. I will be sure to add the alt tag when I’m ready to create a PR.

[2018-03-28 03:49] digilou commented on #98
@sonalikatara This "error" came up when I ran the [Accessibility Audit in Chrome Dev Tools](https://developers.google.com/web/tools/lighthouse/).
@agonzalez0515 Thanks for clarifying! I won't worry about it then.

[2018-03-28 12:10] tanyagupta commented on #81
@digilou Lighthouse is being actively used by Udacity/Google. That might be a good one too

[2018-03-28 16:05] digilou commented on #81
@tanyagupta I was using the Chrome built-in and we tested at 97%. I can install the Node module, too, if others would find that helpful. Deque's module specifically targets React apps, and Lighthouse is fairly general to nail the basics within HTML like heading hierarchy, contrast, alt-text, etc.

[2018-03-28 16:13] PepperAddict commented on #97
I would greatly appreciate that @digilou . There are some bugs I still need to fix with the styles and its mobile version.
I know you're good with styling too, so if you have any suggestions on how to make it look better, feel free to let me know ! or handle it yourself if you want to. doesn't matter to me.

[2018-03-28 16:32] #102 closed

[2018-03-28 18:13] agonzalez0515 opened #117 "Deploy Mappa"
Should we deploy what we have so far? It's usually easier to debug deploying issues when there's less features/code.

Hosts we can use for free:
* Netlify
* GitHub Pages
* Heroku
* Now

Out of these, I know Now is very React friendly. I'm sure the rest are too, but we need to do some reading about it. The main thing is we have a lot of API keys, so need to use a host that will make that easiest to

[2018-03-28 19:03] khusbuchandra commented on #117
Thanks @agonzalez0515 for starting this discussion. We should starting setting it up, so that we have time to troubleshoot issues related it before our deadline. I remember @tanyagupta mentioning we would be using GitHub pages for deployment. I have also heard from other group projects that Heroku is easier with React.

[2018-03-28 20:30] tanyagupta commented on #117
@khusbuchandra that was before the move to react -structure was much simpler then. So not sure github pages is still an option....

[2018-03-28 21:28] agonzalez0515 commented on #117
I did a quick read of GitHub pages and it looks like it can be a headache with React. I'll do some more reading on the other hosts.

[2018-03-28 21:42] tanyagupta commented on #117
Google App Engine is another [possibility](https://cloud.google.com/appengine/docs/standard/python/getting-started/hosting-a-static-website)

[2018-03-28 23:04] digilou commented on #117
I love Heroku! But I'm more familiar with deploying Rails apps rather than Node/React apps....

[2018-03-28 23:07] digilou commented on #97
No problem @PepperAddict. CSS is truly my favorite language to work with! When will you be tying up your end? I don't want to run into too many merge conflicts if you're working on that file right now.

[2018-03-28 23:25] PepperAddict commented on #97
#119 the current PR is the last one that I know of for a minor bug.
Thank you @digilou !

[2018-03-29 15:12] PepperAddict commented on #20
Hey ladies!
Is there a design you wanted from @replimes ? Pick one and I can help digitize it. :)

[2018-03-29 15:24] tanyagupta opened #122 "Develop manifest.json for project"
https://developers.google.com/web/fundamentals/web-app-manifest/

The web app manifest is a simple JSON file that gives you, the developer, the ability to control how your app appears to the user in areas where they would expect to see apps (for example, a mobile device's home screen), direct what the user can launch, and define its appearance at launch.

Web app manifests provide the ability to s

[2018-03-29 15:29] tanyagupta commented on #20
I like the  <imageofwoman/> but with a female sign instead

Also these are the sizes we would probably need:
"icons": [{
    "src": "images/touch/icon-128x128.png",
    "type": "image/png",
    "sizes": "128x128"
  }, {
    "src": "images/touch/apple-touch-icon.png",
    "type": "image/png",
    "sizes": "152x152"
  }, {
    "src": "images/touch/ms-touch-icon-144x144-precomposed.png",
    "type":

[2018-03-29 15:59] amr08 commented on #122
Just a quick note, a basic version of manifest.json is automatically created after npm run build in create-react-app.  It will get rebuilt everytime so if someone adds to it, we would want to protect/copy that file somewhere else!

[2018-03-29 16:02] #1 closed

[2018-03-29 16:19] khusbuchandra commented on #16
With all component done. Closing this issue.

[2018-03-29 16:19] #16 closed

[2018-03-29 16:21] #33 closed

[2018-03-29 16:22] khusbuchandra commented on #53
@agonzalez0515 , I am closing this issue wrt #113

[2018-03-29 16:22] #53 closed

[2018-03-29 16:27] khusbuchandra commented on #98
@agonzalez0515 , @digilou , Can we close this issue now with reference to  #113

[2018-03-29 16:29] agonzalez0515 commented on #98
Fixed with #113

[2018-03-29 16:29] #98 closed

[2018-03-29 16:30] agonzalez0515 commented on #21
@khusbuchandra I think you can close this too

[2018-03-29 16:32] PepperAddict commented on #20
That's creative. I like it. It's very react-y.  haha.  sizes and types will be no problem with svg. Is this a final okay to get started or should we wait for everyone else's opinion? Either way I'm going to wait till tomorrow to get started on this.

[2018-03-29 16:55] tanyagupta commented on #122
True @amr08  Thanks for pointing that out. What do you think ?

Tagging some folks for views on whether we should leave it as a basic one or add more functionality @khusbuchandra @sonalikatara @agonzalez0515 @digilou @PepperAddict

[2018-03-29 18:28] agonzalez0515 commented on #122
I think the one CRA creates should be ok for now. I'm wondering, should I be using that to cache the assets? Or adding it to the cache along with the assets?

[2018-03-29 19:20] sonalikatara opened #127 "Add a image of our app's screenshot in README"
I was planning to share our github with the Udactity community and realized that since we don't have it deployed yet we can put a picture of our app's screenshot on README or just put the wireframe that explains all the features, or both.
I understand this will be put on the README in Master branch.

[2018-03-29 19:32] agonzalez0515 opened #128 "Remove Milligram package"
In the early days of the app I added a package called Milligram, it's a lightweight UI framework. I was just using it for its super simple columns/row code while working on sidebar component.

It's definitely not needed anymore and it's just adding extra weight to the app so it should be removed.  After it's removed, some of the styling will be affected and will need to be fixed.

[2018-03-29 21:14] PepperAddict commented on #128
okay. I deleted milligrams in the package.json and the width duplicate. #119
For future reference, having any 3rd party script from a place you don't trust is a security risk.
While we're on this topic, are there any other packages that is no longer needed?

[2018-03-29 22:23] tanyagupta commented on #20
Nice!

Sent from my iPhone

[2018-03-30 00:02] amr08 opened #130 "Service worker not working?"
Items store as cached when online, but when testing offline I am not getting the cached content.

Checking here to see if someone has tested out the SW offline or if this is just something on my end? If not, the service worker is not fully functional.   If it is working for others, I apologize for the noise!

![screen shot 2018-03-29 at 7 56 48 pm](https://user-images.githubusercontent.com/1723919

[2018-03-30 00:03] amr08 commented on #130
Showing my online view for comparison:
![screen shot 2018-03-29 at 8 03 04 pm](https://user-images.githubusercontent.com/17239196/38118925-3b63b1a6-338c-11e8-91f6-17b48364db24.png)

[2018-03-30 01:09] M0nica commented on #101
I think round-up looks better than decimals as (at least in the U.S.) the convention is to round w weather temperatures to the largest whole number. I can implement this if we want to move forward @digilou.

[2018-03-30 03:02] agonzalez0515 commented on #130
Thanks for checking! I asked Sonali and Khusbu to check on their machines before merging and it worked for them, but I did feel things were a little fragile. We did find that "offline" mode on the browser was not working, so we all tested with wifi off instead.

This is what I see with wifi off. The styles and the static map should be cache.

![screen shot 2018-03-29 at 7 59 31 pm](https://user-im

[2018-03-30 03:18] amr08 commented on #130
@agonzalez0515 Thanks for the response - relieved to hear/see this! 🙂   That _is_ really strange that it doesn't like offline mode... Although I'll leave this untouched as you are right, it seems like a pretty delicate situation with a lot of moving pieces.

[2018-03-30 03:18] #130 closed

[2018-03-30 03:58] digilou commented on #101
That'd be great @M0nica! I think it's a nice touch from my perspective.

[2018-03-30 04:03] digilou opened #131 "Temperature conversion?"
Issue #101 made me start thinking about temperature conversion. Is the weather a key feature? Do others think it would be beneficial to offer a conversion to Celsius for the purpose of internationalization? Or is there a way to automate it as an i18n thing? I know we're freaks in the US, but my brother (American) even thinks in Celsius since he works in the scientific community.

Just a thinking o

[2018-03-30 04:30] khusbuchandra commented on #101
I tried assigning this issue to you @M0nica , but somehow couldn't find your name in the assignees. Did you get an invite to join the team and did you accept it?

[2018-03-30 04:33] khusbuchandra commented on #131
Thanks @digilou , seems like a good addition. Me being in India right now could relate to the conversion to Celsius.

[2018-03-30 04:40] digilou commented on #122
@tanyagupta I'm curious about this. It sounds like a manifest is good to qualify this is a progressive web app (PWA) that people can then install on their home screen: https://developers.google.com/web/fundamentals/web-app-manifest/
This is a PWA issue that I see mentioned when running a full audit with Lighthouse.

[2018-03-30 05:41] agonzalez0515 commented on #131
Oohh love that y'all are thinking about outside of the US!

[2018-03-30 05:43] resant18 opened #133 "Enhancement: Add new feature hovering a place item that will highlight the corresponding marker on map"

[2018-03-30 05:52] resant18 opened #134 "Enhancement: Create style that highlight a place item box when user hover over it. Related to issue #133"

[2018-03-30 06:04] agonzalez0515 commented on #117
I was able to deploy to heroku! https://mappa-gwg.herokuapp.com/
But cache/offline/service worker not working :(
If anyone wants to be added to the heroku admin, let me know!

[2018-03-30 08:13] khusbuchandra commented on #128
Removal of Milligram has some effect with the look of the app. So we decided to remove it from the PR and make those changes along with the fixes required to make the app look good post its removal. @PepperAddict , Would you like to take it up in fixing the issues that come up after removing it.
Image shared by @sonalikatara
![image](https://user-images.githubusercontent.com/35678241/38130057-1f8b

[2018-03-30 11:17] tanyagupta commented on #101
@M0nica <https://github.com/M0nica> please look for an invite and accept :)

On Fri, Mar 30, 2018 at 12:30 AM, Khusbu Chandra <notifications@github.com>
wrote:

[2018-03-30 11:24] tanyagupta commented on #122
Angelica, I think we should cache it along with the assets. Not sure if
there is any React specific angle but in the PWA course they cache the
manifest. And ok let's hold off for now and come back to it later.

Amy yes exactly. I actually did this for the TheDevPath project and it was
also mentioned in the PWA course. However Andrea is saying a basic one is
automatically created. Once all the icon

[2018-03-30 11:28] tanyagupta commented on #117
This is wonderful! Thank you

On Fri, Mar 30, 2018 at 2:04 AM, Angelica Gonzalez <notifications@github.com

[2018-03-30 11:33] tanyagupta commented on #117
Are the service workers not working because we need an https:// ?
https://letsencrypt.org/ Let’s Encrypt is a free, automated, and open
Certificate Authority and we can get an SLL certificate from there if needed

On Fri, Mar 30, 2018 at 7:27 AM, TG <gupta.tanya@gmail.com> wrote:

[2018-03-30 13:46] PepperAddict commented on #128
Sure @khusbuchandra. Seems doable.
@digilou I think you're working on a css task right now.  Is it okay if I take up this one to make it look milligramy or do you think I should wait till after #97 . Or if you want, you can take this one with #97 . It's really up to you and I don't mind doing this task and/or waiting. Just let me know. :) Thanks.

[2018-03-30 14:28] tanyagupta commented on #62
@khusbuchandra @PepperAddict @agonzalez0515 @digilou @sonalikatara @desdemonhu @PepperAddict @sgluzins @amr08 @desdemonhu @M0nica
Requesting a review from you all on this page please:
https://gwg-women.github.io/gwg-women-techmakers/ before we close the issue

Contributors page has been added and Jekyll is being used
Also I see we are missing some contributors in the Github API call. So I suggest:

[2018-03-30 14:40] PepperAddict commented on #62
Hey I just did one right now. Here's an updated:
https://api.github.com/repos/gwg-women/gwg-women-techmakers/contributors

the problem with this call though is that it doesn't show Renata and Monica which I know have been actively helping out. I created a new json file of my own to add the two here: ... okay they don't let me import json lol. i'll send it to you on slack.
I put the update in the f

[2018-03-30 14:47] M0nica commented on #101
Thanks @tanyagupta @khusbuchandra @digilou! I accepted the invite and self-assigned this issue. I am traveling and probably won't be able to work on this until next week but would love to contribute.

[2018-03-30 15:14] digilou commented on #128
@PepperAddict Thanks for checking in. I can definitely look since I'm on that file now. Once I finish with #97 I'll tag you so you can take a look.

[2018-03-30 15:33] sonalikatara commented on #62
@tanyagupta it looks great.
I digged a bit into why some of our contributors are not showing on the gitHub contributor's page or API results.

[https://help.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile/](https://help.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile/)

 @M0nica  @resant18

[2018-03-30 15:57] sonalikatara commented on #62
@tanyagupta the part ' The repository uses the following files : ' was something I wrote to explain a bit about the files but can use some improvement  and more details. We can create a new issue for this.

Also,

[code]

are all a subList under the heading

`src/components: `

We need to add some details aboutr geolocation.js and weather.js and also add in staticmaps controller

[2018-03-30 16:07] PepperAddict commented on #20
![idea](https://user-images.githubusercontent.com/4171505/38144280-0acd8ac2-3412-11e8-984b-07210258db2a.png)

Here's a rough sketch of the ideas before I digitize it. What do you ladies think? Any critique or ideas would be great. What would the colors be? I'd like the marker to be filled in. Actually, we don't even have to discuss the colors now since it'll be easily customizable. If the shape lo

[2018-03-30 16:13] agonzalez0515 commented on #117
The service worker is being registered and it's serving cache first. But the install function is not caching the assets and the basic html page. I suspect I have the paths wrong because of react and heroku. When we run `build`, it's bundling the files and I'm not 100% sure what the final paths are. I did reading last night but couldn't find an answer yet.

[2018-03-30 17:29] sgluzins commented on #62
hi @resant18! I actually had this issue where my email address was different so my commits weren't showing up initially :)

In GitHub:
- go to settings
- emails (verify the email address listed here)

On your computer, open the terminal and run the following line:
git config --global user.email

Those should match up. If the email you have for git doesn't match the one in github then your contribu

[2018-03-30 17:46] amr08 commented on #117
Hi @agonzalez0515 I suspect that the sw not working in offline mode might have had something to do with this, but that will be hard to tell.

Do you have a branch with all this code on?  Is it static 2? < I didn't see the server there can I see that code?  I believe you'll have to push /build to github for heroku to know to read it.     Meaning, your static 2 branch should  allow /build to be push

[2018-03-30 17:51] agonzalez0515 commented on #117
All of the sw code is merged to dev now, so that's what I pushed to heroku. I used this buildpack for heroku which runs the build command when you push.  https://github.com/mars/create-react-app-buildpack

We're not using a server, do we need one?

[2018-03-30 19:12] amr08 commented on #117
Hmm, yea this seems a bit complicated for what it really takes to build up a server for a heroku deploy...  I can write one up, but it will come with a few requirements for our branches.  Example (we would just need a build branch that will be different from master - used only for deploys.

But before all that...

Let me try this,  I'll load something up locally tonight to test it on a server to s

[2018-03-30 19:13] amr08 commented on #117
If I don't run into the same issue, then generating our own server might do the trick

[2018-03-30 19:18] digilou commented on #117
@agonzalez0515 When I've set up Rails apps, I've had to configure a server before. I had to find out how in the Heroku docs. Not sure how it works with Node and React though....

[2018-03-30 19:39] amr08 commented on #117
@digilou @agonzalez0515 It's super easy in Node! :)  Although I want to try it locally to see if that is even the problem.  If the SW doesn't work this way either, then we have to turn our heads to the SW and open up #130 :/  I'll keep you posted on what happens tonight!

[2018-03-30 20:59] agonzalez0515 commented on #117
Just wondering, can you explain or point me to resources on why we need a server? Aren't we generating a static site when we `build` and then heroku takes care of the server?

[2018-03-30 21:33] digilou opened #145 "Research keyboard accessibility of Google Maps"

[2018-03-30 21:47] digilou commented on #117
@agonzalez0515 When I looked at Heroku docs, it looks like Node.js stuff is good to go. In Rails apps I have to set up a Procfile to config the puma web server.

[2018-03-30 22:27] agonzalez0515 commented on #117
Just to summarize what I did:
1. created new heroku app
2. added buildpack
3. git push heroku dev:master
which runs the buildpack and then runs the CRA `build` command and pushes the build folder to heroku
4. Add environment variables
5. Rebuilt again so the env variables work

I can share a screenshot of my command line later tonight of when the buildpack runs because I feel like there's somethin

[2018-03-30 23:37] amr08 commented on #117
Hi All - ok so I've debugged a bit.  The good news is I have it running locally on the server with what would be served up to heroku barebones.  The offline mode still doesn't work which really concerns me because I feel the s/w is not totally functional.   Example if a website (server) went down - not wifi, it wouldn't show anything.  <I've tried to debug that and was unsuccessful.

@agonzalez051

[2018-03-30 23:50] amr08 opened #146 "Code Review"
1. Run through the application and make adjustments as needed regarding syntax, code cleanup, and React best practices.
2. Create PR with comments for info-sharing purposes

[2018-03-31 02:00] khusbuchandra commented on #20
I do like it. Would need the team @gwg-women/all-gwg-women  to check it out.

[2018-03-31 03:26] resant18 commented on #20
I like the tag idea! How bout add GWG in small size under the tag maybe?

[2018-03-31 03:43] resant18 commented on #20
Maybe not add the GWG. I picture the circle of female sign as circle in the marker now.
![img_20180330_203511](https://user-images.githubusercontent.com/36322603/38159322-b9bb5ed6-345a-11e8-90f9-26e641e39a94.jpg)

[2018-03-31 05:30] digilou opened #148 "Footer: convert div into ul"
Related to #81

Like how JSON was used, but semantically the list of contributors in the footer should leverage the `ul` element rather than just a `div`.

JavaScript will need to be revised to iterate list items. Update CSS, as needed.

[2018-03-31 06:47] agonzalez0515 commented on #117
@amr08
I've been working with @khusbuchandra and @sonalikatara but didn't make much progress. I removed the doCache and some other things (I don't even remember anymore because it's been 5 hours) and we're getting some new errors about http vs https. So that's something. You should be able to see it in the console here https://mappa-gwg.herokuapp.com/.
![screen shot 2018-03-30 at 11 45 46 pm](http

[2018-03-31 13:24] amr08 commented on #117
@agonzalez0515  @khusbuchandra @sonalikatara    All heroku websites are `https` out-of-the-box so I wonder where the `http` is coming from.

Took a closer look at the error message and it looks like the proxy server (nginx) the buildpack is using is not happy.  No idea what is going on under the hood.
![screen shot 2018-03-31 at 9 07 28 am](https://user-images.githubusercontent.com/17239196/381634

[2018-03-31 14:28] PepperAddict commented on #148
I'll take this one on. I needed to update the names in it anyway and this will be a quick javascript/html fix.
This will change app.js 's JSX, description.js's javascript/JSON and the CSS to adjust list styles accordingly.

[2018-03-31 16:31] sonalikatara commented on #117
@agonzalez0515 try installing and running npm packages though package.json
So add this in the end root package.json
`"heroku-postbuild": "cd client/ && npm install && npm install --only=dev
--no-shrinkwrap && npm run build"`

On Sat, Mar 31, 2018 at 6:24 AM Andrea Roche <notifications@github.com>
wrote:

[2018-03-31 16:32] sonalikatara commented on #20
Wow! Looks great!

On Fri, Mar 30, 2018 at 9:27 PM resant18 <notifications@github.com> wrote:

[2018-03-31 19:05] amr08 commented on #117
Hi all - i've done a ton of debugging for a few hours.  I made a lot of changes and was able to get offline mode to work locally, but am still seeing the same issue (even deployed to heroku from my own server).    That means there's other issues happening here with SW and CRA.  I found an issue that was resolved on feb 8th (after we created this app) I think this could be a source of the problem o

[2018-03-31 19:07] agonzalez0515 commented on #117
Thanks @amr08! I've been working on it all night and this morning and I'm 75% sure it's cra-append package.

Do you have a branch I can work off?

[2018-03-31 19:53] sonalikatara commented on #117
@amr08 was the offline mode not working for you when you checked out the
latest Dev branch?
Also, were you getting any error on running it?

On Sat, Mar 31, 2018 at 12:07 PM Angelica Gonzalez <notifications@github.com>
wrote:

[2018-03-31 20:01] #128 closed

[2018-03-31 22:49] amr08 commented on #117
^ I created a small PR with a few fixes so that it at least works in offline mode when you guys are developing/debugging.

One problem with buildpack, is that you have no control over the build files (after they are deployed) so you cant edit the sw.js file to read the new .js and .css files.

[2018-03-31 22:50] amr08 commented on #117
Sorry I didn't get to answer all your questions - I'll have move time to hop back on after my son goes to sleep tonight 8pm EST - ish

[2018-04-01 01:11] amr08 commented on #117
![screen shot 2018-03-31 at 8 58 04 pm](https://user-images.githubusercontent.com/17239196/38168864-3d68456a-3527-11e8-9129-bfa428d52ac5.png)

Finally getting something on my end!!!  It's been a long road.  I have a branch `test-server` that you can review, but I ⚠️ **wouldn't recommend** working with (it's quite volatile and not in a healthy place), but I did get a service worker running in produ

[2018-04-01 01:45] khusbuchandra commented on #117
Thanks @amr08 , enjoy the weekend

[2018-04-01 03:04] digilou opened #150 "Search: Autocomplete / Predictive Text"
#75 talked about adding autocomplete, but I don't see that feature yet. I looked at it, but am not familiar enough with React at this point to make it work myself.

@gwg-women/all-gwg-women Are we still shooting for an autocomplete/prediction feature?

[2018-04-01 03:43] amr08 commented on #117
Thanks @khusbuchandra Will be back tomorrow night to do the code review:
Also forgot to post the working deploy:
https://testmappa.herokuapp.com/

[2018-04-01 03:50] amr08 commented on #150
Hmm, I don't really see the need for it. I'm not sure if it would really add much value to the app

[2018-04-01 04:00] PepperAddict commented on #20
![updated](https://user-images.githubusercontent.com/4171505/38169718-75df97c8-353f-11e8-8d71-d5a774f7b776.png)

Here's an updated combined idea. If that looks good just let me know what color and I'll finalize it with the many sizes.

[2018-04-01 04:16] digilou commented on #150
From an accessibility standpoint @amr08, I think it adds value. People with motor impairments, like ALS and cerebral palsy, benefit from autocomplete, as it means less typing or selection from a virtual keyboard.

My first introduction to this idea came from a blog post from a well-respected web designer,  diagnosed with ALS a few years ago: [What I've Learned About Motor Impairment](http://simple

[2018-04-01 13:03] tanyagupta commented on #20
I really like it!

On Sun, Apr 1, 2018 at 12:00 AM, Jen Reassey <notifications@github.com>
wrote:

[2018-04-01 13:27] amr08 commented on #150
Ah, really good points - I didn't even think of accessibility! I was thinking more along the lines of what exactly would be autocompleted.  Any and all search terms?  < I think that might be too broad.

[2018-04-01 14:53] tanyagupta commented on #150
@amr08 [this](https://developers.google.com/maps/documentation/javascript/places-autocomplete) may answer your question

[2018-04-01 16:48] tanyagupta commented on #62
Thanks @sonalikatara and @sgluzins for the information
@resant18 were you able to fix this issue ?

[2018-04-01 17:32] amr08 commented on #117
Just to update the group.  It looks like @agonzalez0515  pulled my branch and did some work on it last night to touch things up on her end so I will step off this issue.  Happy to have contributed to the troubleshooting process.

[2018-04-01 17:41] tanyagupta commented on #62
@sonalikatara I made the changes you requested. @PepperAddict thanks for the updated JSON - it worked perfectly. With this review I think we are in a good place so I am closing this issue. Thanks to everyone for their useful feedback and suggestions
@khusbuchandra @PepperAddict @agonzalez0515 @digilou @sonalikatara @desdemonhu @PepperAddict @sgluzins @amr08 @desdemonhu @M0nica

[2018-04-01 17:41] #62 closed

[2018-04-01 18:34] PepperAddict opened #155 "Gathering specific github api data"
We want the links that will be sent to their github account rather than JSON data which it is right now.

[2018-04-01 21:10] PepperAddict commented on #155
Ok I should have been using Github's graphQL API this whole time.
What kind of data would be nice to have?

[2018-04-01 22:58] khusbuchandra commented on #150
Thanks @digilou  for drawing our attention to it, I agree with you this feature needs to be implemented.

[2018-04-01 23:50] #133 closed

[2018-04-01 23:51] khusbuchandra commented on #134
@resant18 , shall i assign this issue to you?

[2018-04-02 00:11] resant18 opened #157 "Map is partially loaded and search function doesn't work at first visit until user refresh the page."
How to reproduce the issue:
1. Open in new incognito window.
2. Wiki info and map will be loaded partially along with blank grey part of map after delay few seconds. Also at this stage, the search place function doesn't work.
3. User need to refresh the page to properly load the page.

[2018-04-02 02:07] resant18 commented on #62
@tanyagupta, I will made PR tonight and will check it out. I'll update you after.

[2018-04-02 02:08] resant18 commented on #134
Yes, I'll work on it.

[2018-04-02 04:25] khusbuchandra commented on #157
@resant18 , while you are at it, I would like to share my findings. In the first load geolocation.getCurrentPosition takes alot of time and the reason behind it is being said to be what is discussed here :
https://stackoverflow.com/questions/47581575/only-request-geolocation-information-in-response-to-a-user-gesture
Since the position is not loaded the Map shows grey and once we get position the m

[2018-04-02 05:01] resant18 commented on #157
@khusbuchandra That's exactly what I found and I would like to discuss on how to solve it. As we want user to have good experience by sending response as soon as we can put in the display, I was thinking to give initial lat & lang before loading the map. After I give a temporary coordinate, in few seconds later the map is loaded properly, as well as the place list, since as you said it doesn't hav

[2018-04-02 05:24] khusbuchandra commented on #157
Thanks @resant18, You are correct about the options we have to resolve it.

1. Have the initial lat/lng as Google headquater location or some location hard-coded for initial load. This would solve the problem with Map and places. Only problem is that in initial load for few seconds it will display details for the incorrect location and would auto-correct to the user's location. Will that be a bett

[2018-04-02 05:43] sgluzins commented on #157
Hi! Yes, I also agree! I found the same information a while back and when first implementing the built-in service vs calling the API endpoint, I had it load San Francisco on initial load and then reset to the user's coordinates because I read that about initial load. We ended up removing that a while back though - we had a lot of moving parts at once so I figured we just didn't want it and it was

[2018-04-02 09:59] khusbuchandra commented on #75
Autocomplete needs to be done. Only search box submit and its integration with places has been completed.

[2018-04-02 14:42] digilou commented on #145
@gwg-women/all-gwg-women
What I've found, so far, it looks like Google is keeping accessibility in mind: https://support.google.com/maps/answer/6396990?co=GENIE.Platform%3DDesktop&hl=en&oco=1
From light testing, I can `Tab` to focus on the map, `+` to zoom in.

Fortunately, we've got the Places section that shows a list of results, which should work for the needs of those who can't see the map.

[2018-04-02 14:42] #145 closed

[2018-04-02 15:16] digilou opened #158 "Add header tag"
Somehow I missed that we didn't have a `header` to wrap the header component. This makes our sections more semantic for accessibility.

[2018-04-03 01:11] khusbuchandra commented on #157
loading spinner seems a good option @sgluzins .
I also did some changes PR #161 for the places to load after user's location is determined in the initial load. I am not getting the issue now after deleting the cache related to places not loading. But would need fresh set of eyes to validate.

[2018-04-03 01:26] khusbuchandra opened #162 "Recenter button on map to get the map center to user location"
At present we don't have any interface for user to recenter the map based on its location. If user searches for some location or place of interest, the position value changes and there is no way to set the user location back again. Shall we add a button like google map to recenter to user's location?

[2018-04-03 03:00] #146 closed

[2018-04-03 04:49] sgluzins commented on #157
oh great!! so I just checked out the branch - I am still having issues with incognito on the first load. Were you able to get it working on your end for that as well? I didn't seem to see any issues when I wasn't in incognito though.

[2018-04-03 05:04] khusbuchandra commented on #157
@sgluzins , I was working on the search box and its integration with places, I believe only the issue related to places not loading in first load would be resolved. By resolved I mean after some time on first load places will be loaded not immediately. But the issues with map remains the same, we need to go for some loading spinner or splash screen. Something to keep the user engaged while the map

[2018-04-03 05:38] sgluzins commented on #157
@khusbuchandra perfect! we are on the same page and I was seeing the same behavior. I'll go ahead and open a new issue and work on that piece (loading spinner/splash screen) unless you have already started.

[2018-04-03 05:44] sgluzins opened #163 "Add loading spinner/splash screen while map is loading users geolocation"
It is recommended to not load the users geolocation on initial load of the webpage. As a result, we have decided to add user-friendly behavior so it is known that something is being processed.

A loading spinner/splash screen will be added while the current geolocation is being set in the background.

[2018-04-03 05:45] khusbuchandra commented on #157
I haven't started on it, would need to know from @resant18  as well as she started on this investigation. As well as @sonalikatara was onto something with the maps, want to make sure we all are on the same page. Or we can maybe take up the conversation on slack?

[2018-04-03 15:24] PepperAddict commented on #155
I just wanted to update this.
This is mainly going to be used for the contributor's section for the wiki.
GraphQL is a bit limited than REST api but at least you can pull out specific info which is super awesome. I say limited because there's no way to pull out all the contributors at once (at least not yet according to my googling).  I've gathered all of our IDs and pulled in the info that way.

[2018-04-03 15:28] digilou commented on #155
This is great @PepperAddict. Thanks for looking into it!

[2018-04-03 15:32] tanyagupta commented on #155
This is great Pepper!. Will have a look soon and get back.

Sent from my iPhone

[2018-04-03 16:49] sonalikatara commented on #162
Yes @khusbuchandra We can add a button that says 'where am I' or recenter . We will need to create a new state for it in App. I can make a pr and everyone can take a look at it and decide.

[2018-04-03 16:56] sonalikatara commented on #157
I agree that we need to have a loading spinner when the app is loading the first time. It is better than setting a default location and there is no way around this delay, we have to wait for the first time for geolocation, after that we are storing the pos in local cache and have a static map too.

I am looking into the partially loaded map.

[2018-04-03 17:20] sonalikatara opened #164 "Improve styling for wiki component"
I also feel there is extra padding above and below the wiki information. There is lot of space between the co-ordinates and the description/info if the results from wiki are just a few lines. it works well when the info is 7-8 lines but again if it is a more then that it doesn't look nice

[2018-04-03 17:21] sonalikatara commented on #164
@PepperAddict wrote this on a PR and I am pasting it here so that we can continue the conversation here
@sonalikatara what's funny is that that was the exact subject I wanted to bring up. The places sidebar has a set height to avoid it from stretching everything else.
I don't know how to have it an auto height but contained inside the container(if that makes any sense)
I put my location as new yor

[2018-04-03 17:23] PepperAddict commented on #164
![description](https://user-images.githubusercontent.com/4171505/38264812-27bf7568-3742-11e8-9adf-265d929be586.png)

i wrote note on the picture. Are we on the same page on the edit promised? (I added my suggestion too)

[2018-04-03 17:30] sonalikatara commented on #164
@PepperAddict
Like your suggestion of aligning to top and removing the space, maybe we can make the color of the coordinates info different to pop it out.

Making description go the whole width , doesn't  look good to me.

Your screen shot looks good to me, maybe we can just increase the places component's size  a little bit more.

[2018-04-03 17:31] PepperAddict commented on #164
I have an idea about about the coordinates and the description. What if coordinates has a different background to separate it from description rather than space?  I'll have to take screenshots to show what looks nice. let me do that real quick.

[2018-04-03 17:32] sonalikatara commented on #164
ha ha we are reading each other's mind. Please make the changes when you have time and send a pr
Sorry didn't see that this issue is not assigned yet, Do you want to take care of this ?

[2018-04-03 17:32] PepperAddict commented on #164
LOL I think we kind of had the same idea for coordinates and submitted it at the same time. Let me try different things and see what looks good.  I'll post it here and maybe we can do a vote.

[2018-04-03 19:00] PepperAddict commented on #164
![des3](https://user-images.githubusercontent.com/4171505/38269825-9da0bd52-374f-11e8-87d9-c9653a71a59a.png)

hmm sorry it took me a while. I was trying to figure out where the mysterious gap under the map was coming from.
Well I'm sure there's more ways to go about this but I personally like the border way. Let me know which you prefer or if you have more ideas.

[2018-04-03 19:40] sonalikatara commented on #164
Thank you for giving us options pepper. My vote goes to bold

On Tue, Apr 3, 2018 at 12:00 PM Jenearly Reassey <notifications@github.com>
wrote:

[2018-04-03 22:38] khusbuchandra commented on #155
Thanks @PepperAddict , for finding this out. This is good.

[2018-04-03 22:40] khusbuchandra commented on #162
That would be great @sonalikatara . Can't wait to see it in action. All pieces are coming together.

[2018-04-03 22:48] khusbuchandra commented on #164
I love the bold too @PepperAddict . I really like all the ideas floating around here. I also have one suggestion not sure to take it up in this issue itself. It's about Wiki data, now i had mentioned earlier that i don't get any wiki data for my location at times I see 'Wiki Request Failed' in place of Wiki Component. If no wiki is available, I would rather have it blank than showing the user that

[2018-04-03 23:07] PepperAddict commented on #164
@khusbuchandra That's a good point. If you feel that way then most likely others feel the same.  I'll make it blank instead of a tacky message.  Or... maybe... we can think of something else to replace that.. Like maybe a wiki summary of Earth? LOL
I think bold is winning. I'll wait till tomorrow to finalize the style just in case there are more ideas to improve the description area.

[2018-04-03 23:56] sonalikatara commented on #164
Yes we should catch the error and show anything. It’s part of the wiki so
wouldn’t call it hijacking 🤠

On Tue, Apr 3, 2018 at 3:48 PM Khusbu Chandra <notifications@github.com>
wrote:

[2018-04-04 00:06] #158 closed, assigned to digilou

[2018-04-04 01:14] PepperAddict commented on #164
![des4](https://user-images.githubusercontent.com/4171505/38283413-eaa60bc8-3783-11e8-98be-b32802059759.png)

Earth is now the default. I hope nobody has problems with that because I am loving it. lol

[2018-04-04 02:11] resant18 commented on #157
I initiated the location with lat & lng 0, 0 and did testing with slow network, it seems works perfectly. I don't even see the location 0, 0, and the map is loaded with my current position right away. I will made the PR tonight and will let you all know after.

[2018-04-04 05:00] agonzalez0515 opened #166 "Caching Places for offline"
TBD...

[2018-04-04 05:00] agonzalez0515 opened #167 "Caching Wiki information for offline"
TBD...

[2018-04-04 05:03] digilou opened #168 "Remove Milligram from package.json dependencies"

[2018-04-04 05:54] sonalikatara commented on #168
I can take care of this when I am working on my current issue. I thought we had gotten rid of it, but it is being imported in App.js too

[2018-04-04 07:44] resant18 opened #169 "Trigger search button functionality via enter key"
Add functionality that allows user to use the enter key to submit the keyword for searching place.

[2018-04-04 08:11] sonalikatara commented on #164
@PepperAddict   are you using milligram ?

[2018-04-04 12:32] tanyagupta commented on #155
@PepperAddict if we are still going with plugging in the JSON manually, could you IM me the latest so I can update the wiki ? And thanks for pulling this out, much nicer info to display!

[2018-04-04 13:11] PepperAddict commented on #164
Wait. I thought milligram was removed? Did it get put back in on accident somewhere?

[2018-04-04 14:08] sonalikatara commented on #164
I remember you doing that in one of the pr’s but it’s back in , in the
current Dev branch. Look in app.js

On Wed, Apr 4, 2018 at 6:11 AM Jenearly Reassey <notifications@github.com>
wrote:

[2018-04-04 14:20] PepperAddict commented on #164
Yep, I see it in there. Strange. Would you like me to remove milligram in this PR for the wiki component or should I do separate PR for that. I had to modify app.js for the wiki.

currently I'm trying to figure out a way to have wiki read the country only if it's outside of the usa , and if it still has issues, it'll go to earth as default.

[2018-04-04 14:22] sonalikatara commented on #164
Going to earth was a smart solution, regarding milligram it's up to you, you can just add it to current pr if you want to since this pr is for style.

[2018-04-04 14:41] PepperAddict commented on #164
okay the fallback to country is working great. I can't seem to test Earth since any obscure location throws an error with the geolocation.js file.

![descri5](https://user-images.githubusercontent.com/4171505/38314666-c1e2f180-37f4-11e8-99dd-6546a84e903c.png)

[2018-04-04 14:42] PepperAddict commented on #164
the milligram removal is going to be an easy fix. i'll fix that along with wiki.
edit>> well that explains the mysterious gap from the map

[2018-04-04 15:16] sonalikatara commented on #164
Thank you Pepper, while testing can you run a build and test if your style
changes are reflected.

On Wed, Apr 4, 2018 at 7:42 AM Jenearly Reassey <notifications@github.com>
wrote:

[2018-04-04 15:38] PepperAddict opened #170 "Error from some countries"
I get this if I put my geolocation from countries that I think google is having trouble recognizing. I think we need a catch to deal with this type of problem.  I couldn't find info from my my mother land: Cambodia :(

![error](https://user-images.githubusercontent.com/4171505/38318113-a009b29e-37fc-11e8-9a5f-d016fdec6be5.png)

[2018-04-04 15:41] sonalikatara commented on #131
@digilou this is a good idea, how do we go about it, should we give the user two options to pick from
something like [https://codepen.io/SonaliS/full/xgQWwP/](https://codepen.io/SonaliS/full/xgQWwP/) or should we make it default to Celsius for all countries other than US

[2018-04-04 15:46] digilou commented on #131
@sonalikatara I was wondering about default using browser settings, but wasn't sure how viable that was. It was seem to be a smoother experience. Otherwise, some sort of customized radio button to switch between the two, as you have in your pen would be great.

I guess a question to consider: Do people want a choice? Or are they really just looking at the map, and the temp is a nice-to-have featur

[2018-04-04 16:08] sonalikatara commented on #131
If I am the user, I would like it localized, so if I am in US , I see
Fahrenheit and if I am in Asia I see Celsius.
Having an opinion to switch will be good too.
What do you say? I like the idea of using browser’s default settings.

On Wed, Apr 4, 2018 at 8:46 AM Amy Carney <notifications@github.com> wrote:

[2018-04-04 16:53] PepperAddict commented on #164
![coords](https://user-images.githubusercontent.com/4171505/38321849-b963dcc4-3806-11e8-8caa-a09909dc8e0e.png)

ignoring the numbers in the city, i think the coords area should be improved too. Any ideas?  I think I should lowercase 'coordinates'.   right now it just looks like a run on sentence and it's bugging me. I need to separate city,state and its coordinates somehow.

[2018-04-04 17:02] sonalikatara commented on #164
Add a line break before Coordinates. You can get the latitude and longitude
from the position returned by the api.

On Wed, Apr 4, 2018 at 9:53 AM Jenearly Reassey <notifications@github.com>
wrote:

[2018-04-04 19:40] sonalikatara opened #173 "Style Info window"
The info window needs to be styled to look like the wireframe.
You need to style it by ID as it will not take className or class attribut.
The id for infoWindow is 'info'

Awhile back when we were using grid, I added a style to index.css but it got lost when the sass file was compiled.  Just adding that the code to give an idea.

 /**** infoWindow ****/
#info{
  display: grid;
  grid-template-colu

[2018-04-04 23:36] digilou commented on #169
Oh no! I thought this was working. The `input type="search"` does work with the `Enter key`, but the button doesn't?

[2018-04-04 23:38] digilou commented on #131
I think initially tapping into the browser settings is great, and adding a toggle for choice is even better.

[2018-04-04 23:38] #148 closed

[2018-04-05 04:27] digilou opened #175 "Move styles from RecenterMapButton component to scss file"
Related to #172

[2018-04-05 04:30] #162 closed, assigned to sonalikatara

[2018-04-05 04:54] digilou commented on #169
Sorry, I just now tested this. The hitting `Enter` for the search button works. But hitting `Enter` after autocomplete within the box does NOT work for me.

[2018-04-05 05:10] sonalikatara commented on #175
@digilou , I have the styles in css , please feel free to modify it
`.btnRecenter {
  backgroundColor:#fff;
  border: 2px solid #fff;
  borderRadius: 3px;
  cursor: pointer;
  boxShadow: 0 2px 6px rgba(0,0,0,.3);
  color: black;
  fontFamily: Roboto,Arial,sans-serif;
  padding: 6px 6px;
   margin: 7px;
  lineHeight: 24px;
  position: absolute;
  left: 110px;
  top: 3px;
}`

and then RecenterMapBut

[2018-04-05 05:23] sonalikatara opened #177 "Warning from description.js wiki"
`
./src/components/Description.js
  Line 21:  'counter' is assigned a value but never used  no-unused-vars
`

@PepperAddict can you take a look, i think this came from the last merged pr, sorry I missed it while reviewing

[2018-04-05 05:25] digilou commented on #175
Yikes! I think I got ahead of you @sonalikatara. Please check my PR to make sure I did it right.

[2018-04-05 05:55] resant18 commented on #169
Yeah, it doesn't work when user type their own keyword and not choosing from the autocomplete list.

[2018-04-05 05:58] resant18 commented on #170
@PepperAddict, what are the steps to reproduce the error?

[2018-04-05 10:58] tanyagupta commented on #170
Hi Pepper
Can you send me this code (cut and paste)? I can debug it
Thanks
Tanya

Sent from my iPhone

[2018-04-05 12:48] tanyagupta commented on #170
See if this helps ?
https://codepen.io/tanyagupta/pen/zWJVWx

On Thu, Apr 5, 2018 at 6:58 AM, Tanya Gupta <gupta.tanya@gmail.com> wrote:

[2018-04-05 13:08] PepperAddict commented on #177
whoops. I was trying all sorts of ways to give it a third fetch and missed this when clearing my trail. I'll fix this. Thanks you!

[2018-04-05 13:14] PepperAddict commented on #170
To replicate the error, I used this chrome addon:  https://chrome.google.com/webstore/detail/manual-geolocation/jpiefjlgcjmciajdcinaejedejjfjgki?hl=en

Most countries are okay. Just play around with it and you'll see.

@tanyagupta I haven't messed with the file yet, but I'll keep that in mind. It could even be something else involved with this issue. Maybe it's actually the addon's fault. *shrugs*

[2018-04-05 13:17] #175 closed, assigned to digilou

[2018-04-05 13:41] digilou commented on #169
I'll take a stab at this, since no one else has grabbed it yet.

[2018-04-05 15:44] #173 closed, assigned to digilou

[2018-04-05 15:51] #177 closed, assigned to PepperAddict

[2018-04-06 01:49] khusbuchandra commented on #169
I went off the radar for a couple of day but I am available now. @digilou , let me know if you need help on this.

[2018-04-06 02:19] khusbuchandra commented on #168
@digilou , @sonalikatara  & @PepperAddict , I am getting this on Edge browser :
![image](https://user-images.githubusercontent.com/35678241/38400507-ee821d04-396d-11e8-8b1e-c7518f4dc669.png)
 the gap between the  input and button seems to too much.  If its an easy fix, i would like to have it there.
Apart from that the Recenter map button overlaps like this in chrome and Edge both for me:
![image]

[2018-04-06 02:52] khusbuchandra commented on #157
I am closing this issue for now.

[2018-04-06 02:52] #157 closed, assigned to sonalikatara, resant18

[2018-04-06 03:46] digilou commented on #168
@khusbuchandra I haven't tested on Edge yet. WOW. Have you been testing with it earlier on? Is this the first time it's looked funky?

[2018-04-06 03:47] digilou commented on #169
@khusbuchandra Please feel free to take a look! I haven't started on it yet.

[2018-04-06 04:33] khusbuchandra commented on #168
I have been testing on Edge for the map, but didn't notice that maybe , it slipped as i was focused on getting it at least open up on Edge. But while we are into styling right now , i got to see that.

[2018-04-06 04:36] khusbuchandra commented on #169
As I work in completely different time zone now, if you see it's still not taken by your morning . Feel free to pick. Currently pairing up with Angie and Sonali for offline capabilities. If that gets sorted will try my hand here.

[2018-04-06 22:09] #169 closed, assigned to digilou, khusbuchandra

[2018-04-06 22:11] digilou commented on #97
After adding `@supports()`, working on fallback code like flex or floats for a few components. most can just fallback gracefully to a one-column look with a narrower view.

[2018-04-07 00:54] khusbuchandra commented on #122
Where are we with this? Any plans on someone starting on it?

[2018-04-07 07:06] resant18 commented on #134
@digilou, Could we reopen the issue? The styling doesn't apply yet since I haven't generate the mini css. Could anyone lead me a way on how to generate the file?

[2018-04-07 15:06] digilou commented on #134
Oh, yes! Sorry @resant18!  What editor do you use? I use a plugin for VS code that minifies my CSS files: CSS Minify.

[2018-04-07 19:09] resant18 commented on #134
No problem! I didn't realize there is mini css now. I use WebStorm. I will try to find if it has similar plugin.

[2018-04-07 22:23] digilou commented on #134
If you need any more help @resant18, I'll do what I can.

[2018-04-07 23:09] khusbuchandra commented on #163
@sgluzins , how is it coming up? Let us know if you need any help with anything.

[2018-04-07 23:26] sgluzins commented on #163
hi @khusbuchandra! unfortunately I got pretty sick the other day so I paused my work on this :( I am feeling 100x better now though so I am planning to get it implemented tonight. I will reach out if I have any troubles, thank you!

[2018-04-08 16:26] digilou opened #185 "Add ARIA to spinner"
I'm committing to research what the loader in #163 needs to be perceivable to non-sighted users. I know there's specific ARIA syntax that can be uses.

[2018-04-08 16:29] #163 closed, assigned to sgluzins

[2018-04-09 03:12] sgluzins commented on #185
@digilou great idea! I didn't think of this when implementing so glad you are adding it in :)

[2018-04-09 06:22] khusbuchandra commented on #185
Thanks @digilou , that's a great feature to have and would improve the accessibility.

[2018-04-09 17:01] PepperAddict commented on #168
I think this can be closed now.
I want to make a separate issue for all of the style fixes including post milligram removal.

[2018-04-09 17:01] #168 closed, assigned to sonalikatara, PepperAddict

[2018-04-09 17:10] PepperAddict commented on #155
Here's what I'm using to communicate with graphQL:

[code]
Downside to this is that I don't know who's ID belong to who unless I run the code.

Here's the other way:

[code]

Which is great too, but the output is a whole lot different and I'm unfamiliar with the format... soo I'm sticking with the first.

I think this issue can be closed now if you're satisfied with the JSON data that I've  alread

[2018-04-09 20:00] #164 closed, assigned to nobody

[2018-04-09 20:06] digilou commented on #185
Note to myself for when I get home to create a branch:
- `aria-live="polite"`
- `role="status"`

[2018-04-10 00:18] khusbuchandra commented on #20
@PepperAddict , I like it too. Let's go with this one.

[2018-04-10 00:21] khusbuchandra commented on #81
We are doing so good in terms of accessibility. Thanks for all your effort @digilou . Really appreciate all the work done to get the app at its current level.

[2018-04-10 01:21] digilou commented on #81
My pleasure @khusbuchandra!

[2018-04-10 01:29] digilou commented on #20
@PepperAddict I'm definitely liking it too.

[2018-04-10 15:41] digilou commented on #23
@sperrye How are the tests coming along? Are you using any frameworks to set it up?

[2018-04-10 17:16] #185 closed, assigned to digilou

[2018-04-10 20:10] PepperAddict commented on #20
Whoops forgot about this. So I take it black is okay?
I'll make it these sizes:
128x128
152x152
144x144
192x192

[2018-04-11 00:08] agonzalez0515 commented on #117
Deployed here - https://mappa-gwg.herokuapp.com/
Will open up new issues for perfomance problems.

[2018-04-11 00:08] #117 closed

[2018-04-11 00:44] PepperAddict commented on #20
[markerICON.zip](https://github.com/gwg-women/gwg-women-techmakers/files/1896870/markerICON.zip)

Here is the icon in the sizes listed above.

[2018-04-11 01:15] khusbuchandra commented on #20
Thanks @PepperAddict

[2018-04-11 02:29] sonalikatara commented on #20
Thank You @PepperAddict , Is it suppose to be our favicon  or should it be placed somewhere else too?
The format for the image for favicon must be 16x16 pixels or 32x32 pixels, using either 8-bit or 24-bit colors. The format of the image must be one of PNG (a W3C standard), GIF, or ICO. I can make those changes in the image but want to confirm if we need it anywhere else ?

[2018-04-11 03:54] digilou commented on #20
@sonalikatara I think a favicon is good. I envisioned we could put this in the header, too. To the left of the Welcome. @tanyagupta @khusbuchandra @PepperAddict @replimes @resant18, what do you all think?

[2018-04-11 04:41] sonalikatara commented on #122
While I was working on favicon I came across some interesting reads one of them is https://medium.com/front-end-hacking/react-by-example-part-4-5d32168db362
manifest.json needs to be put in public folder. I can put one in  if you agree. @amr08 what is your take on this, does this make sense ?
@tanyagupta @agonzalez0515 @khusbuchandra @digilou

[2018-04-11 04:49] sonalikatara opened #192 "Add Favicon to the project"
Add the favicon created by @PepperAddict to the project.

[2018-04-11 04:50] digilou commented on #122
WOW @sonalikatara this is perfect timing for me, as I'm working on a MERN app right now, and all of this architecture has been confusing. It looks like our structure is right on par with what John is saying, so manifest.json in the public folder sounds fine to me.

[2018-04-11 05:10] digilou commented on #170
Open another issue if new problems arise after #186 fix.

[2018-04-11 05:10] #170 closed, assigned to nobody

[2018-04-11 05:12] #192 closed, assigned to sonalikatara

[2018-04-11 05:49] sonalikatara commented on #20
Option 1
![mappa header option 1](https://user-images.githubusercontent.com/4163671/38598256-808e7a44-3d10-11e8-8a19-a1e1cc3aeeaa.png)

Option 2
![mappa header option 2](https://user-images.githubusercontent.com/4163671/38598310-b5bb0048-3d10-11e8-9fb9-0bcd31e50045.png)

Option3
![mappa header option 3](https://user-images.githubusercontent.com/4163671/38598398-042b7122-3d11-11e8-98c3-353b3923351f

[2018-04-11 05:55] agonzalez0515 commented on #20
I like 3 too!

[2018-04-11 05:57] agonzalez0515 commented on #122
Sounds good to me. I’m wondering, if we put it in the public/ folder in development, does the build command keep it there in production? Need to look into CRA build?

[2018-04-11 05:58] khusbuchandra commented on #20
3 looks good. We should go for it.

[2018-04-11 06:14] sonalikatara commented on #122
@agonzalez0515 , this is what Jhon say's about the build process and manifest.json
During the build process

[2018-04-11 14:12] digilou commented on #20
3 is what I envisioned.

[2018-04-11 14:26] digilou commented on #81
@gwg-women/all-gwg-women I ran an accessibility automated audit with Lighthouse over our Heroku deployment: 100%.

Our syntax has held semantic. Color contrast is good. Everything that we've created on our end is keyboard accessible. Source reading order is good. Coordination between map and places is a little disorienting for me on VoiceOver, but a VO use may not find it so. Alt text has been giv

[2018-04-11 14:26] #81 closed

[2018-04-11 14:29] digilou commented on #97
Thanks to our [Heroku deployment](https://mappa-gwg.herokuapp.com), I'm going to test this on IE11 later today to see where I need to focus on some fallbacks. Then I'll get those in tonight.

[2018-04-11 14:31] digilou commented on #101
@M0nica can you still work on this?

[2018-04-11 14:36] #134 closed

[2018-04-11 14:36] #20 closed

[2018-04-11 14:38] digilou commented on #127
@sonalikatara We can probably do this now that deployment has happened.

[2018-04-11 17:19] digilou opened #195 "Dynamic Page Title?"
Going through Scott Vinkle's article [Creating Accessible React Apps](https://medium.com/@svinkle/creating-accessible-react-apps-38dc1c2775cf), and wondering should we create a dynamic title @gwg-women/all-gwg-women? Say, when someone searches "pizza", the title would reflect "Pizza | Mappa" as the title within the browser tab. Maybe I'm overthinking this very basic SPA...?

If anything, I'm sure

[2018-04-11 17:24] digilou opened #196 "Install eslint-plugin-jsx-a11y"
Recommended by [Scott Vinkle](https://medium.com/@svinkle/creating-accessible-react-apps-38dc1c2775cf) to help identify accessibility problems in JSX:
https://github.com/evcohen/eslint-plugin-jsx-a11y

[2018-04-11 17:27] agonzalez0515 commented on #155
Loved that you used GraphQL! I wonder if we can put the code in the app and then maybe comment it out if we're not using it to make api calls every time the page loads? It would be nice for documentation reasons and to show people our use of different techs.

[2018-04-11 17:36] agonzalez0515 commented on #196
hey @digilou, I think create-react-app already uses `eslint-plugin-jsx-a11y` because i've definitely gotten a11y errors while compiling.

https://github.com/facebook/create-react-app/blob/next/packages/eslint-config-react-app/package.json

[2018-04-11 17:54] PepperAddict commented on #155
I think that's a great idea. That way the contributor's section and the footer can share the same information and is always updated. Also it'll be good practice to get to know graphQL further.
on the downside though is that I'll have to put graphQL as a dependency ( i think).  Will that be okay?

[2018-04-11 18:27] agonzalez0515 commented on #155
I don't mind adding another dependency. But I think in order to do that, we might need a server.js file? (not sure)

I think we can use HTTP request to the api.  I went to a graphql intro talk couple months ago and this was the sample the instructor showed.
Starting at line 10 - https://github.com/gr2m/github-graphql-demo/blob/master/02-load-graphql.js

[2018-04-11 18:37] PepperAddict commented on #155
I never knew about this. Thanks @agonzalez0515 !  I'll try and figure this out tomorrow.

[2018-04-11 19:32] digilou commented on #196
Great! It looks like in Vinkle's article, he adds it to an .eslintrc file so it's spotted before it goes to DevTools.

[2018-04-12 02:58] khusbuchandra commented on #195
I really like how it improves the accessibility part, that's a good idea. Thanks @digilou  for suggesting.

[2018-04-12 06:16] #196 closed, assigned to digilou

[2018-04-13 19:16] digilou opened #198 "Deployment doesn't load CSS and APIs in IE 11"
Well, this is an interesting problem for IE....
![image](https://user-images.githubusercontent.com/8865558/38753674-a108fd74-3f0b-11e8-8a0b-3ca54e7a9367.png)

I'm investigating what is creating this issue.

[2018-04-13 19:17] digilou commented on #198
Related #97 when testing for fallback issues.

[2018-04-19 23:44] M0nica commented on #101
Yes @digilou I can work on this!